<!DOCTYPE html>
<html>
<head>
    <title>密碼管理 | 首頁</title>
    <link rel="icon" href="../../static/favicon.ico" type="image/x-icon" />
    <style>
        #top_container {
            background-color: #3B4B59;
        }
        #home{
            background-image: url("../../static/pexels-mikhail-nilov-6963098.jpg");
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
        }
    </style>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
</head>
<body id="home">
    <nav class="navbar navbar-expand-lg navbar-dark fixed-top" id="top_container">
        <div class="container-fluid">
            <a class="navbar-brand">密碼管理</a>
            <ul class="navbar-nav ms-auto">
                    <li class="nav-item">
                        <a href="../" target="_top"><button class="btn btn-secondary ms-lg-2" type="submit" name="button_logout" value="button_logout">登出</button></a>
                    </li>
            </ul>
        </div>
    </nav>
    <div class="container rounded-4" style="margin-top: 7rem;background-color: rgba(255, 255, 255, 0.5);padding: 3rem; margin-bottom: 10rem;">
        <div class="row">
            <div class="col-12">
                <h2 style="color: #fff;">帳號密碼資訊</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-12 mt-2">
                <button type="button" class="btn btn-secondary" id="editButton" onclick="editUser()">編輯</button>
                <button type="button" class="btn btn-secondary d-none" id="saveButton" onclick="saveUser()" value="button_complete" name="button_complete">完成</button>
                <button type="button" class="btn btn-secondary" id="addButton" onclick="addUser()" name="add_button">新增</button>
                <button type="button" class="btn btn-danger" id="deleteButton" onclick="deleteUser()" value="button_delete" name="button_delete">刪除</button>
            </div>
        </div>
        <div class="row mt-4">
            <div class="col-12">
                <form id="userForm" method="post">
                    <table class="table rounded-4 table-hover" id="dataTable" style="background-color: rgba(255, 255, 255, 0.7);border-color: #bababa;">
                        <thead>
                            <tr>
                                <th class="col-1"></th>
                                <th class="col-2">姓名</th>
                                <th class="col-4">帳號</th>
                                <th class="col-4">密碼</th>
                                <th class="col-1"></th>
                            </tr>
                        </thead>
                        <tbody>
                            <!-- The table content will be dynamically generated using JavaScript -->
                        </tbody>
                    </table>
                </form>
            </div>
        </div>
    </div>
    <div id="result" style="color: #fff;"></div>
    <div class="mt-5 p-4 text-white text-center" style="background-color: #3b4b59;">
        <p>網站圖片由Mikhail Nilov提供</p>
    </div>

    <!-- Modal dialog code -->
    <div class="modal fade" id="errorModal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">錯誤訊息</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <p id="modalErrorMessage" class="text-danger" style="font-weight:bold;">輸入欄位不得為空白</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-bs-dismiss="modal">關閉</button>
                </div>
            </div>
        </div>
    </div>

    <script>
        var radioButtonStatus = false;
        var edit = false;
        var add = false;
        window.addEventListener('DOMContentLoaded', (event) => {
            generateTable();
        });
        var jsonData = {{ user_info | tojson }};

        function generateTable() {
            // Get the tbody element of the table
            var tableBody = document.getElementById('dataTable').getElementsByTagName('tbody')[0];

            for (var i = 0; i < jsonData.length; i++) {
                // Create a new table row
                var row = tableBody.insertRow(i);

                // Create a cell and set its content
                var radioCell = row.insertCell(0);
                // Add the checked attribute to the radio button in the first cell
                radioCell.innerHTML = '<input type="radio" name="keyword" style="margin-left:1rem;"' + (i === 0 ? 'checked' : '') + '>';

                var nameCell = row.insertCell(1);
                nameCell.innerHTML = '<span>' + jsonData[i].name + '</span><input type="text" class="form-control d-none" name="account_name">';

                var accountCell = row.insertCell(2);
                accountCell.innerHTML = '<span>' + jsonData[i].id + '</span><input type="text" class="form-control d-none" name="account_id">';

                var passwordCell = row.insertCell(3);
                passwordCell.innerHTML = '<span>' + jsonData[i].password + '</span><input type="text" class="form-control d-none">';

                var buttonCell = row.insertCell(4);
                buttonCell.innerHTML = '<button type="button" class="btn btn-secondary d-none" name="random" onclick="randomPassword()">隨機密碼</button>';
            }
        }

        function editUser() {
            // Disable all radio buttons
            var radioButtons = document.getElementsByName('keyword');
            for (var i = 0; i < radioButtons.length; i++) {
                radioButtons[i].disabled = true;
            }
            radioButtonStatus = true;
            edit = true;

            var selectedRow = document.querySelector('input[name="keyword"]:checked').parentNode.parentNode;
            var accountCell = selectedRow.cells[2];
            var passwordCell = selectedRow.cells[3];
            var buttonCell = selectedRow.cells[4];

            accountCell.querySelector('span').classList.add('d-none');
            accountCell.querySelector('input').classList.remove('d-none');
            accountCell.querySelector('input').value = accountCell.querySelector('span').textContent;

            passwordCell.querySelector('span').classList.add('d-none');
            passwordCell.querySelector('input').classList.remove('d-none');
            buttonCell.querySelector('button').classList.remove('d-none');
            passwordCell.querySelector('input').value = passwordCell.querySelector('span').textContent;

            // Hide the edit button and display the done button
            document.getElementById('editButton').classList.add('d-none');
            document.getElementById('addButton').classList.add('d-none');
            document.getElementById('deleteButton').classList.add('d-none');
            document.getElementById('saveButton').classList.remove('d-none');
        }

        function saveUser() {
            // To restore the state of all radio buttons
            var radioButtons = document.getElementsByName('keyword');
            for (var i = 0; i < radioButtons.length; i++) {
                radioButtons[i].disabled = radioButtonStatus;
            }

            var selectedRow = document.querySelector('input[name="keyword"]:checked').parentNode.parentNode;
            var nameCell = selectedRow.cells[1];
            var accountCell = selectedRow.cells[2];
            var passwordCell = selectedRow.cells[3];
            var buttonCell = selectedRow.cells[4];

            var newName = nameCell.querySelector('input').value;
            var newAccount = accountCell.querySelector('input').value;
            var newPassword = passwordCell.querySelector('input').value;

            
            if (add === true){
                if (newName === '' || newAccount === '' || newPassword === '') {
                    // To display a modal or implement other error handling logic
                    $('#errorModal').modal('show');
                    return;
                }
                    add = false;
                    fetch('/websites/add', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json'
                    },
                    body: JSON.stringify({
                        account_name: newName,
                        account_id: newAccount,
                        account_password: newPassword
                    })
                })
                .then(response => {
                    if (response.ok) {
                    } else {
                        throw new Error('請求失敗');
                    }
                })
                .catch(error => {
                    console.error(error);
                });
                nameCell.querySelector('span').textContent = newName;
            }

            if (edit === true){
                if (newAccount === '' || newPassword === '') {
                    // To display a modal or implement other error handling logic
                    $('#errorModal').modal('show');
                    return;
                }
                    edit = false;
                    fetch('/websites/edit', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json'
                    },
                    body: JSON.stringify({
                        account_name:nameCell.querySelector('span').textContent,
                        account_id: newAccount,
                        account_password: newPassword
                    })
                })
                .then(response => {
                    if (response.ok) {
                    } else {
                        throw new Error('請求失敗');
                    }
                })
                .catch(error => {
                    console.error(error);
                });
            }
           

            var radioButtons = document.getElementsByName('keyword');
            for (var i = 0; i < radioButtons.length; i++) {
                radioButtons[i].disabled = false;
            }

            
            accountCell.querySelector('span').textContent = newAccount;
            passwordCell.querySelector('span').textContent = newPassword;

            nameCell.querySelector('span').classList.remove('d-none');
            nameCell.querySelector('input').classList.add('d-none');

            accountCell.querySelector('span').classList.remove('d-none');
            accountCell.querySelector('input').classList.add('d-none');

            passwordCell.querySelector('span').classList.remove('d-none');
            passwordCell.querySelector('input').classList.add('d-none');
            buttonCell.querySelector('button').classList.add('d-none');

            // Hide the "Complete" button and show the "Edit", "Add", and "Delete" buttons
            document.getElementById('editButton').classList.remove('d-none');
            document.getElementById('addButton').classList.remove('d-none');
            document.getElementById('deleteButton').classList.remove('d-none');
            document.getElementById('saveButton').classList.add('d-none');
        }

        function addUser() {
            // Disable all radio buttons
            var radioButtons = document.getElementsByName('keyword');
            for (var i = 0; i < radioButtons.length; i++) {
                radioButtons[i].disabled = true;
            }

            radioButtonStatus = true;
            add = true;

            var newRow = document.getElementById('dataTable').insertRow(-1);

            var radioCell = newRow.insertCell(0);
            radioCell.innerHTML = '<input type="radio" name="keyword" style="margin-left:1rem;" checked>';

            var nameCell = newRow.insertCell(1);
            nameCell.innerHTML = '<span></span><input type="text" class="form-control" name="account_name">';

            var accountCell = newRow.insertCell(2);
            accountCell.innerHTML = '<span></span><input type="text" class="form-control" name="account_id">';

            var passwordCell = newRow.insertCell(3);
            passwordCell.innerHTML = '<span></span><input type="text" class="form-control" name="account_password">';

            var buttonCell = newRow.insertCell(4);
            buttonCell.innerHTML = '<button type="button" class="btn btn-secondary" name="random" onclick="randomPassword()">隨機密碼</button>';

            // Hide the "Edit" button and show the "Finish" button
            document.getElementById('editButton').classList.add('d-none');
            document.getElementById('addButton').classList.add('d-none');
            document.getElementById('deleteButton').classList.add('d-none');
            document.getElementById('saveButton').classList.remove('d-none');
        }

        function deleteUser() {
            var selectedRow = document.querySelector('input[name="keyword"]:checked').parentNode.parentNode;
            selectedRow.parentNode.removeChild(selectedRow);
            var keyword = selectedRow.cells[1].querySelector('span').textContent;

            // You can use the fetch function to send asynchronous requests to the backend
            fetch('/websites/delete', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({ account_name: keyword })
            })
            .then(response => {
                if (response.ok) {
                    selectedRow.parentNode.removeChild(selectedRow);
                } else {
                    throw new Error('刪除請求失敗');
                }
            })
            .catch(error => {
                console.error(error);
            });

            // Hide the "Complete" button and show the "Edit", "Add", and "Delete" buttons

            document.getElementById('editButton').classList.remove('d-none');
            document.getElementById('addButton').classList.remove('d-none');
            document.getElementById('deleteButton').classList.remove('d-none');
            document.getElementById('saveButton').classList.add('d-none');
        }

        function randomPassword(){
            var variable = "我成功執行了";  // 假設這是要顯示的變數
            var name = "random"

            fetch('/websites/random_password', {
                method: 'POST',
                headers: {
                    'Content-Type': 'String'
                },
                body: JSON.stringify({ name: name })
            });
            // 取得要顯示變數值的元素
            var resultElement = document.getElementById("result");

            // 設定該元素的內容為變數的值
            resultElement.textContent = variable;
            var selectedRow = document.querySelector('input[name="keyword"]:checked').parentNode.parentNode;
            var passwordCell = selectedRow.cells[3];
            passwordCell.querySelector('input').value = "{{random_password}}";
        }
    </script>
</body>
</html>
