<!DOCTYPE html>
<html>
<head>
    <style>
    #login{
        background-image: url("../../static/pexels-mikhail-nilov-6963098.jpg");
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    }

    #loginCard{
        height: 480px;
        width: 500px;
        background-color: #ffffff59;
    }

    a.dark{
        color: #212529;
    }
    a.dark:hover{
        color: #6c757d;
    }
    </style>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
    <!-- GPT -->
    <script>
        $(document).ready(function() {
            {% if error %}
            $('#error_message').text('{{ error }}');
            $('#errorModal').modal('show');
            {% endif %}
        });
    </script> 
</head>
<body id ="login">

<nav class="navbar navbar-expand-lg navbar-dark">
    <div class="container-fluid">
        <a href="../" class="navbar-brand">密碼管理</a>
    </div>
</nav>
<div class="container" style="display: flex;justify-content: center;">
    <div class="card rounded-4 d-flex justify-content-center align-items-center" id="loginCard">
        <p style="font-size: 30px;margin-bottom: 0%;color: #fff;">登入</p>
        <hr style="width: 60%; margin-top: 0; margin-bottom: 10px;border: 3px solid #fff;">
        <form method="post" style="width: 60%;">
            <div class="form-group">
                <label for="user_mail" style="margin-top: 8px;color: #fff;">使用者帳號</label>
                <input type="text" class="form-control" id="user_mail" placeholder="請輸入信箱" style="margin-top: 8px;" name="user_mail">
            </div>
            <div class="form-group">
                <label for="password" style="margin-top: 8px;color: #fff;">密碼</label>
                <input type="password" class="form-control" id="password" placeholder="請輸入密碼" style="margin-top: 8px;" name="password">
            </div>
            <div class="form-check">
                <label class="form-check-label" style="margin-top: 8px;color: #fff;">
                  <input class="form-check-input" type="checkbox" name="remember"> 記住我
                </label>
              </div>
                <button type="submit" class="btn btn-secondary d-flex" style="margin: 10px auto 8px auto;padding: 0.375rem 2rem;" value="button_login">登入</button>
        </form>
        <hr style="width: 60%; margin-top: 10px; margin-bottom: 10px; border: 3px solid #ffffff;">
        <p style="font-size: 14px; color: #fff;">還沒有帳號？<a href="register" target="_top" class="dark">註冊</a></p>
    </div>
</div>

<div id="errorModal" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog " role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title ">錯誤訊息</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
            </div>
            <div class="modal-body">
                <p id="error_message" class="text-danger" style="font-weight:bold;"></p>
            </div>
        </div>
    </div>
</div>
</body>
</html>