<!DOCTYPE html>
<html>
<head>
    <style>
    #top_container{
        background-color: #3B4B59;
    }

    body{
        height: 3000px;
    }
    </style>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
</head>
<body>

<nav class="navbar navbar-expand-lg navbar-dark fixed-top" id="top_container">
    <div class="container-fluid">
        <a href="./" class="navbar-brand">密碼管理</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item"><a class="nav-link" href="#">首頁</a></li>
                <li class="nav-item"><a class="nav-link" href="#">介紹</a></li>
                <li class="nav-item"><a class="nav-link" href="#">關於我們</a></li>
                <li class="nav-item"><a class="nav-link" href="#">聯絡我們</a></li>
            </ul>
            <ul class="navbar-nav ms-auto">
                <li class="nav-item">
                    <a href="./websites/register" target="_top"><button class="btn btn-secondary ms-lg-2" type="button">註冊</button></a>
                    <a href="./websites/login" target="_top"><button class="btn btn-secondary ms-lg-2" type="button">登入</button></a>
                </li>
            </ul>
            
        </div>        
    </div>
</nav>
<div class="container-fluid" style="margin-top: 7rem;">
    <img src="./images/pexels-mikhail-nilov-6963098.jpg" class="img-fluid" alt="someone is using computer">
</div>
</body>
</html>